* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #dde9b3;
  color: rgb(119, 50, 40);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 1rem 0;
  color: #864beb;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  padding-bottom: 36px;
}

main {
  margin-top: 10px;
  flex-grow: 1;
  margin-left: 200px;
}

a {
  display: inline;
  color: inherit;
  text-decoration: inherit; /* no underline */
}

a:hover {
  background-color: #f0d690;
}

.card {
  background: rgb(238, 232, 178);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 2rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.card h2 {
  font-size: 1.5rem;
  text-align: center;
}

a .card:hover {
  background-color: #f0d690;
}


li {
  list-style-type: none;
}

/*
button {
  display: inline-block;
  width: fit-content;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  text-align: center;
  background: #c39999;
  color: rgb(173, 255, 215);
  border-radius: 0.5rem;
  border-color: #7c2d12;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-width: 1px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #eab26e;
}

button:disabled {
  background: #edcef0;
  color: #a1a1aa;
  cursor: not-allowed;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs__container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
}

.tabs__list {
  display: flex;
  flex-direction: row;
  background-color: #f3f4f6;
  padding: 10px;
}

.tabs__tab {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.tabs__tab--selected {
  background-color: #c8a2c8;
  color: white;
  border-radius: 5px;
}

.tabs__content {
  background-color: #ebf0db;
  flex-grow: 1;
}

.tabs__panel {
  background: #c9d5df;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tabs__title {
  font-size: 18px;
  font-weight: bold;
}

.tabs__separator {
  height: 2px;
  background: #ef4444;
  margin: 10px 0;
}

.tabs__description {
  font-size: 14px;
  color: #333;
}

.checkbox {
  display: flex;
  gap: 5px;
}

label {
  display: flex;
  flex-direction: column-reverse;
}

span:empty::before {
  content: "\00a0";
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
}

form input, form .listbox {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

input[type="text"] {
  padding: 0.2rem 2rem 0.3rem 0.5rem;
  text-align: left;
  background: #c39999;
  color: rgb(173, 255, 215);
  border-radius: 0.5rem;
  border-color: #7c2d12;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-width: 1px;
}

input[type="text"]:focus {
  background: #eab26e;
}

.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: right;
}
  
.toaster {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 1rem;
}

.toaster__transition {
  position: relative;
}

.toaster__transition--enter {
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.toaster__transition--enter-from {
  opacity: 0;
  transform: scale(0.5) translateY(100%);
}

.toaster__transition--enter-to {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.toaster__transition--leave {
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.toaster__transition--leave-from {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.toaster__transition--leave-to {
  opacity: 0;
  transform: scale(0.5) translateY(100%);
}

.toaster__container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-height: 24rem;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(165, 132, 137, 0.9);
  padding: 1rem;
  gap: 0.5rem;
}

.toaster__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
}

.toaster__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.toaster__close-btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  background-color: rgba(191, 38, 59, 0.25);
  border-radius: 50%;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.toaster__close-icon {
  width: 1rem;
  height: 1rem;
}

.toaster__close-btn:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

.toaster__notifications {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
  overflow-y: auto;
  border-radius: 0.5rem;
}

.toaster__empty {
  background-color: rgba(191, 38, 59, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  padding: 1rem;
}

.toast {
  border: 1px solid rgba(48, 18, 145, 0.2);
  border-radius: 0px;
  padding: 0.5rem;
}
*/